.git
.gitmodules
.github
.DS_Store
.fleet
.idea
.vscode
*.log
npm-debug.log
yarn-error.log

.phpunit.cache
.phpunit.result.cache
coverage
test-results
playwright-report
blob-report
playwright/.cache

node_modules
extensions/*/node_modules

Homestead.json
Homestead.yaml
auth.json
.env.backup
.rnd

_ide_helper.php
.phpstorm.meta.php

storage/logs/*
