.git
**/.git
.gitmodules
**/.gitmodules
.github
.DS_Store
.fleet
.idea
.vscode
*.log
npm-debug.log
yarn-error.log
k8s
docs
e2e
tests

docker-compose.yml
docker/local

.phpunit.cache
.phpunit.result.cache
coverage
test-results
playwright-report
blob-report
playwright/.cache
openapi.json
playwright
playwright.config.ts
vitest.config.ts
phpunit.xml
phpstan.neon
pint.json
eslint.config.mjs
tsconfig.json
jsconfig.json
postcss.config.js
tailwind.config.js

node_modules
extensions/*/node_modules

Homestead.json
Homestead.yaml
auth.json
.env.backup
.rnd

_ide_helper.php
.phpstorm.meta.php

storage/logs/*
storage/*.key
