/.phpunit.cache
node_modules
dist
/public/build
/public/hot
/public/storage
/public/css
/public/js
/public/vendor
/lang/vendor
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/coverage
/extensions/*
!/extensions/.gitkeep
!/extensions/extensions_autoload.php
!/extensions/Linear
/auth.json
# /modules_statuses.json
/k8s
/_ide_helper.php
/.phpstorm.meta.php
/.rnd

/caddy
/frankenphp
/public/frankenphp-worker.php
/data
/config/caddy
/config/composer
