name: NPM Lint

on: [push]

jobs:
  build:
    # DeepVision Patch: disable api docs
    if: false

    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: "Checkout code"
        uses: actions/checkout@v4

      - name: "Use Node.js"
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'

      - name: "Install npm dependencies"
        run: npm ci

      - name: "Run linter"
        run: npm run lint
