name: Publish UI package to NPM
on:
  workflow_dispatch
permissions:
  contents: read
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - name: "Checkout code"
        uses: actions/checkout@v4
      # Setup .npmrc file to publish to npm
      - uses: actions/setup-node@v6
        with:
          node-version: '20.x'
          registry-url: 'https://registry.npmjs.org'
      - name: Install root project dependencies
        run: npm ci
      - name: Install package dependencies
        run: npm ci
        working-directory: ./resources/js/packages/ui
      - name: Build package
        run: npm run build
        working-directory: ./resources/js/packages/ui
      - name: Publish Package
        run: npm publish --provenance --access public
        working-directory: ./resources/js/packages/ui
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
