name: NPM Format Check

on: [push]

jobs:
  format-check:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: "Checkout code"
        uses: actions/checkout@v4

      - name: "Use Node.js"
        uses: actions/setup-node@v5
        with:
          node-version: '20.x'

      - name: "Install npm dependencies"
        run: npm ci

      - name: "Check code formatting"
        run: npm run format:check 