name: PHP Linting
on: push
permissions:
  contents: read
jobs:
  pint:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: "Checkout code"
        uses: actions/checkout@v4

      - name: "Check code style"
        uses: aglipanci/laravel-pint-action@2.5
        with:
          configPath: "pint.json"
